<hr>
<div class="hero-unit">

   <h1> Founder</h1>
   <hr>
<h3 class="muted"> Maheshwari Jagruth - <strong>MJ's</strong> Founder</h3>
Mr.Kishan Kabra is taken intiative to build social network of Jagruth's Family.
<br>
He wants to take all Jagruthi's into one hub. 
   <hr><img class="img-polaroid" src="/assets/empty_profile.jpeg">
</div>
<hr>
<div class="row"> <h2> Team </h2>
  <div class="span5"> <h4> Chanakya Devraj </h4>
   <img class="img-polaroid"  style="height:80px;width:80px;"src="/assets/empty_profile.jpeg">   
  </div>
  <div class="span5"> <h4> Sai Sagar Kache </h4>
 	<img class="img-polaroid" style="height:80px;width:80px;" src="/assets/empty_profile.jpeg">
  </div>
</div>

<hr>